@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
    --animate-spin-slow: spin 40s linear infinite;
    --animate-counterclockwisespin-slow: counterclockwisespin 50s linear infinite;

    @keyframes counterclockwisespin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(-360deg);
        }
    }
}

@layer base {
    body {
        font-family: "Montserrat", sans-serif;
        background: #fafafa;
    }
}

.lg-box {
    @apply rounded-3xl bg-black/10 bg-clip-padding backdrop-blur-xl p-12;
}

@media screen and (max-width: 768px) {
    body {
        font-size: calc(12px + ((100vw - 320px) / 448) * 4);
        /* Responsive font size formula */
    }
}

a {
    text-decoration: none;
    color: inherit;
}

svg {
    /* fill: white; */
    transform: scale(.6);
}
