---
import Headlayout from "../layouts/Headlayout.astro";
---

<Headlayout title={"NEE"}>
    <div>POKE NEEXISTUJE</div>
</Headlayout>

<style>
    div {
        display: grid;
        place-items: center;
    }
</style>