---
const { name, type, image } = Astro.props
---
{image || name || type ? 

<a class="Pokemon" href={name}>
    <div class="description">
        <h2 class="name">{name}</h2>
        <h4 class="type">{type}</h4>
        </div>
        <div class="image"><img src={image} loading="lazy" /></div>
        </a>
: null}

<style lang="scss">
.Pokemon {
    width: clamp(320px, 100%, 360px);
    height: 8rem;
    display: flex;
    align-items: center;
    margin: 2rem 1rem;
    position: relative;
    text-decoration: none;
    
    &:hover {
        cursor: pointer;
    }
    
    .description {
        height: calc(100% - 2rem);
        width: 80%;
        background: #45467c;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding: 1rem 0 0 1rem;
        color: #e8e8e8;
    }
        .name, .type {
            &::first-letter {
                text-transform: uppercase;
            }
        }

    .image {
        position: absolute;
        right: 0;
        margin-bottom: 2rem;
        width: 50%;
        height: 8rem;
        z-index: 2;

        img {
            height: 100%;
            width: 100%;
        }
    }
}

</style>