.Pokemon {
    height: 8rem;
    display: flex;
    align-items: center;
    margin: 2rem 1rem;
    position: relative;
    text-decoration: none;
    
    &:hover {
        cursor: pointer;
    }
    
    .description {
        height: calc(100% - 2rem);
        width: 80%;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding: 1rem 0 0 1rem;
        color: #e8e8e8;
    }
        .name, .type {
            &::first-letter {
                text-transform: uppercase;
            }
        }

    .image {
        position: absolute;
        right: 0;
        margin-bottom: 2rem;
        width: 50%;
        height: 8rem;
        z-index: 2;

        img {
            height: 100%;
            width: 100%;
        }
    }
}