---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Headlayout from "./Headlayout.astro";
import List from "../components/List";
---

<Headlayout>
	<Header />
	<main class="max-w-screen-xl flex flex-wrap mx-auto mt-[75px] mb-12">
		<List client:load />
	</main>
</Headlayout>
